{% load static %}
<head>
	{% block favicon %}
	 	<link rel="shortcut icon" 
	 		type="image/x-icon" 
	 		href="{% static "sp_games/favicon.ico" %}" 
	 	/>
	{% endblock favicon %}
		
	<title>{% block title %}single player games{% endblock %}</title>
	
	{% block js %}  
			<script type="text/javascript" 
				src="{% static "sp_games/jquery.min.js" %}">
			</script>
			<script type="text/javascript" 
				src="{% static "sp_games/p5.min.js" %}">
			</script>
			<script type="text/javascript" 
				src="{% static "sp_games/p5.dom.js" %}">
			</script>

	{% endblock js %}
	
	{% block css %}
	{% endblock css %}

</head>
<body>
	
	{% block content %}
	{% endblock content %}

</body>

