{% extends "sp_games/base_template.html" %}
{% load static %}
{% block title %}Tetris{% endblock title %}


{% block js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "sp_games/tetris/main.js" %}"></script>
	<script type="text/javascript" src="{% static "sp_games/tetris/block.js" %}"></script>
	<script type="text/javascript" src="{% static "sp_games/tetris/pieces.js" %}"></script>
{% endblock js %}

{% block content %}
	<div class="tetris_canvas"
		style="width:75%; height:100%"></div>
{% endblock content %}